.modal__modalclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 30%;
    height: 80%px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 235, 255);
    z-index: 1000;
    transition: 1s;
  }
  
  .head___headclass {
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: rgb(58, 104, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
  }

  .header___header {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    width: 100%;
  }
  
  .body___bodyclass {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem 0.5rem;
  }
  
  .footer___footerclass {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  .modal-enter {
    opacity: 0;
  }
  
  .modal-enter-active {
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    opacity: 1;
  }
  
  .modal-exit-active {
    opacity: 0;
    transition: all 200ms;
  }